<app-navbar route="home"></app-navbar>

<div class="jumbotron container">
  <h1 class="display-4">Hello, User!</h1>
  <p class="lead">To continue further, Please register or Login.</p>
  <hr class="my-4">
  <p>If already Registered, Please Click on the login Button</p>
  <p class="lead">
    <button [ngStyle]="{boxShadow:getShadow('register')}" class="btn btn-primary btn-lg" role="button" (click)="register()"
    type="button" style="margin: 2rem; font-size: 2rem; border-radius:99999px; padding: 0.7rem 2rem;">Register</button>
    <span style="margin: 2.5rem 2rem 2.5rem 0rem; font-size: 24px; vertical-align: middle;">Or</span>
    <button [ngStyle]="{boxShadow:getShadow('login')}" class="btn btn-success btn-lg" type="button" (click)="login()" role="button" style="font-size: 2rem; border-radius:99999px; padding: 0.7rem 2rem;">Login</button>
  </p>
</div>
  <div *ngIf="!userRegistered; else logIn" class="container inputComponent">
    <div class="row">
      <div class="col-md-12">
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="email" class="form-control" [(ngModel)]="userInput.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control" [(ngModel)]="userInput.username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="userInput.password" name="password" required>
          </div>
          <div class="form-group">
            <label for="passwordCheck">Confirm Password</label>
            <input type="password" class="form-control"
            [(ngModel)]="userInput.passwordCheck " name="passwordCheck" required>
          </div>
          <div [hidden]="validInput" class="warning" style="font-size: 1.3rem;" #registerFail>
            Kindly input in the correct format. Put Username as your registered EmailID
          </div>
          <div class="form-group">
            <button type="submit" (click)="updateUserInfo(userInput)" class="btn btn-outline-success">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<ng-template class="inputComponent"  #logIn>
  <div [hidden]="loggedIn"class="inputComponent container">
    <div class="row" style="width: 70%;">
      <div class="col-md-12" style="width: 100%;">
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control" [(ngModel)]="userFindInput.username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="userFindInput.password" name="password" required>
          </div>
          <div class="warning" style=" font-size: 1.3rem;" #loginFail>Kindly input in the correct values.
          <!-- [hidden]="validInput" -->
          </div>
          <div class="form-group">
            <button type="submit" (click)="getUserInfo(userFindInput)" class="btn btn-outline-success">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
